# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

# Environment Variables
.env

# OS Files
Thumbs.db
.DS_Store